<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:grid lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">

    <!-- Product details -->
    <div class="lg:max-w-lg lg:self-end">
<!--       <nav aria-label="Breadcrumb">
        <ol role="list" class="flex items-center space-x-2">
          <li>
            <div class="flex items-center text-sm">
              <a href="#" class="font-medium text-gray-500 hover:text-gray-900">Travel</a>
              <svg viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="ml-2 h-5 w-5 flex-shrink-0 text-gray-300">
                <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
              </svg>
            </div>
          </li>
          <li>
            <div class="flex items-center text-sm">
              <a href="#" class="font-medium text-gray-500 hover:text-gray-900">Bags</a>
            </div>
          </li>
        </ol>
      </nav> -->

      <div class="mt-4">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"><%= @item.title %></h1>

        <% if signed_in? && owned(current_user, @item) %>
          <span class="inline-flex items-center rounded-md px-1.5 py-0.5 text-xs font-medium text-red-600 ring-1 ring-inset ring-red-600">OWNED</span>
        <% end %>
        <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">owned by <%= pluralize @item.ownerships.count, "user" %></p>
      </div>

      <section aria-labelledby="information-heading" class="mt-4">
        <h2 id="information-heading" class="sr-only">Product information</h2>

<!--         <div class="mt-4 space-y-6">
          <p class="text-base text-gray-500">Don&#039;t compromise on snack-carrying capacity with this lightweight and spacious bag. The drawstring top keeps all your favorite chips, crisps, fries, biscuits, crackers, and cookies secure.</p>
        </div> -->

        <% if signed_in? %>
          <ul role="list">
            <li class="flex justify-between gap-x-6 py-5">
              <% if owned(current_user, @item) %>
              <div class="flex min-w-0 gap-x-4">
                <% if owned_with_proof(current_user, @item) %>
                  <%= link_to collection_items_path do %>
                    <%= image_tag @item.ownership_by_user(current_user).proof, class: "h-12 w-12 rounded-lg bg-red-500" %>
                  <% end %>
                  <p class="text-sm font-semibold leading-6 text-gray-900">You own this<br>with proof</p>
                <% else %>
                  <p class="rounded-md bg-indigo-600 px-3 py-2 font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"><%= link_to "Add photo taken", edit_item_ownership_path(@item) %></p>
                <% end %>
              </div>
              <div>
                <%= button_to "Unmark owned", unown_item_path(@item), class: "py-2 px-3 font-medium text-gray-900 focus:outline-none bg-white rounded-md border border-gray-200 hover:bg-gray-100 hover:text-red-700" %>
              </div>
              <% else %>
              <div>
                <%= button_to "Mark owned", own_item_path(@item), class: "py-2 px-3 font-medium text-gray-900 focus:outline-none bg-white rounded-md border border-gray-200 hover:bg-gray-100 hover:text-blue-700" %>
              </div>
              <% end %>
            </li>
          </ul>
        <% end %>

        <div class="mt-6 flex items-center">
          <svg class="h-5 w-5 flex-shrink-0 text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
          </svg>
          <p class="ml-2 text-sm text-gray-500">Manufacturer: <%= @item.item_maker&.title %></p>
        </div>

        <div class="mt-6 flex items-center">
          <svg class="h-5 w-5 flex-shrink-0 text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
          </svg>
          <p class="ml-2 text-sm text-gray-500">Model name: <%= @item.model_number %></p>
        </div>

        <div class="mt-6 flex items-center">
          <svg class="h-5 w-5 flex-shrink-0 text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
          </svg>
          <p class="ml-2 text-sm text-gray-500">Tip Retractable? <%= @item.tip_retractable %></p>
        </div>

        <div class="mt-6 flex items-center">
          <svg class="h-5 w-5 flex-shrink-0 text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
          </svg>
          <p class="ml-2 text-sm text-gray-500">Eraser Attached? <%= @item.eraser_attached %></p>
        </div>

        <div class="mt-6 flex items-center">
          <svg class="h-5 w-5 flex-shrink-0 text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
          </svg>
          <p class="ml-2 text-sm text-gray-500">Item Groups: <%= safe_join(@item.item_groups.map { |group| link_to(group.title, item_group_path(group)) }, " / ".html_safe) %></p>
        </div>

      </section>
    </div>

    <!-- Product image -->
    <div class="mt-10 lg:col-start-2 lg:row-span-2 lg:mt-0 lg:self-center">
      <div class="aspect-h-1 aspect-w-1 overflow-hidden rounded-lg">
        <%= image_tag @item.image.attached? ? @item.image : "https://imageplaceholder.net/400x600", class: "h-full w-full object-cover object-center" %>
      </div>

      <div class="flex flex-col-reverse">
        <!-- Image selector -->
        <div class="mx-auto mt-6 w-full max-w-2xl sm:block lg:max-w-none">

        <% if @item.ownerships.any? %>
          <div class="grid grid-cols-4 gap-6" aria-orientation="horizontal" role="tablist">
          <% @item.ownerships.each do |ownership| %>

            <% if ownership.proof.attached? %>
              <%= link_to user_path(ownership.user), class: "relative flex h-24 cursor-pointer items-center justify-center rounded-md bg-white text-sm font-medium uppercase text-gray-900 hover:bg-gray-50 focus:outline-none focus:ring focus:ring-opacity-50 focus:ring-offset-4" do %>
              <span class="absolute inset-0 overflow-hidden rounded-md">
                <%= image_tag ownership.proof, class: "h-full w-full object-cover object-center" %>
              </span>
              <!-- Selected: "ring-indigo-500", Not Selected: "ring-transparent" -->
              <span class="pointer-events-none absolute inset-0 rounded-md ring-2 ring-transparent ring-offset-2" aria-hidden="true"></span>

              <% end %>
            <% end %>
          <% end %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="flex w-full items-center justify-between space-x-6">
  <% if signed_in? && current_user.admin? %>
    <!-- Buttons -->
    <div class="mt-6 flex justify-end space-x-4">
        <%= link_to "Edit", edit_item_path(@item), class: "bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-600" %>
        <%= button_to "Remove", item_path(@item), method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class: "bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" %>
    </div>
  <% end %>
  </div>
</div>
